.footer {
	background: #222222;
	min-height: 250px;
	max-width: 72.5rem;

	.bike {
		background: url("../images/footer-bike.png") no-repeat center 45px;
		min-height: 250px;
		display: block;
	}
}

.dirt {
	min-height: 160px;
	background: url('../images/footer-dirt.png') repeat-x;
	padding-top: 0.7rem;
	max-width: 72.5rem;
	display: block;

	p {
		color: #ffffff;
		font-size: 0.8rem;
	}
}

.top-banner {
    height: 115px;
    display: block;
    background: url("../images/banner.png");
    max-width: 100%;

}
.logo {
	 display: block;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #CC6600;
    color: #ffffff;
}
.top-bar-section li.active:not(.has-form) a:not(.button), top-bar-section li:not(.has-form) a:not(.button) {
   
    color: #ffffff;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #282828;    
    color: #ffffff;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #CC6600;
    
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    height: 13px;
    margin: 15px 0px;
    border-right: solid 1px #999999;
}


.top-bar {
    background: #282828;
    color: #333333;
}

.orbit-caption{ 
}

.rowfullpage {
	
     max-width: 100%;
}
.nav{
	padding-right: 0px;
	padding-left: 0px;
	padding-botton: 20px;
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 72.5rem;
}