.footer {
	background: #222222;
	min-height: 250px;
	max-width: 72.5rem;
	margin-top: 30px;

	.bike {
		background: url("../images/footer-bike.png") no-repeat center 45px;
		min-height: 250px;
		display: block;
	}
}

.dirt {
	min-height: 160px;
	background: url('../images/footer-dirt.png') repeat-x;
	padding-top: 0.7rem;
	max-width: 72.5rem;
	display: block;

	p {
		color: #ffffff;
		font-size: 0.8rem;
	}
}

.top-banner {
    height: 115px;
    display: block;
    background: url("../images/banner.png");
    max-width: 100%;

}
.logo {
	 display: block;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #D19C67;
    color: #ffffff;
}
.top-bar-section li.active:not(.has-form) a:not(.button), top-bar-section li:not(.has-form) a:not(.button) {
   
    color: #ffffff;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #282828;    
    color: #ffffff;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #D19C67;
    
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    height: 13px;
    margin: 15px 0px;
    border-right: solid 1px #999999;
}


.top-bar {
    background: #282828;
    color: #333333;
    margin-bottom: 25px;
    padding-left: 69px;
}

.orbit-caption{ 
	background: none !important;
}

.rowfullpage {
	
     max-width: 100%;
     margin-bottom: 2px;
}
.nav{
	padding-right: 0px;
	padding-left: 0px;
	padding-botton: 20px;
}
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 72.5rem;
}
.karibu {
	h2 {
	color: #D19C67;
	}
		p {
		color: #D19C67;
		font-size: 0.9rem;

		}
}
.form {
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	height: 350px;
	margin-top: -45px;
	background-color: #ffffff;

	.paragraphone {
		height: 99px;
		font-size: 1.5rem;
		padding-left: 90px;
		color: #D19C67;

	}
	.input{
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
			background-color: #FFFFFF;
			font-family: inherit;
			border: 1px solid #cccccc;
			/* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); */
			color: rgba(0, 0, 0, 0.75);
			display: block;
			font-size: 0.875rem;
			margin: 0 0 0 0;
			padding: 0.5rem;
			height: 3.0000rem;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			/* transition: box-shadow 0.45s, border-color 0.45s ease-in-out; */
		}
}

.paragraphtwo {
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	height: 350px;
	margin-top: -45px;
	border-bottom: solid 1px #cccccc;
	background-color: #ffffff;
	
}

.little-man {
	padding-left: 25px;
}
.button:hover, .button:focus {
	background-color: #D19C67;
}

.button {
	background-color: #D19C67;
	border-color: #D19C67;
}

.submit {
	padding-left: 10px;
}
.contactsection {
	padding-top: 85px;
	color: #ffffff;
}
.enteremailsection {
	padding-top: 85px;
}
.activities {
	font-size: 1.5rem;
	padding-left: 110px;
	color: #D19C67;
}
.tinyslider {
	height: 115px;
}
.textsectionafterslider {
	height: 138px
}
.font {
	font-size: 1.3rem;
	padding-left: 50px;
	color: #505050;
}
.text {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 200;
	color: #707070;
}
.subscribe {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 100;
}
.navbarfonts {
	font-size: 0.9rem;
	color: #cccccc;
	font-weight: 500;
	
}
.orbit-container {
	overflow: hidden;
	width: 100%;
	position: relative;
	background: none;
	height: 500px;
}
.logo {
padding-left: 110px;
margin-top: -10px;
}
.social {
	padding-top: 19px;
	.instagram{

	}
}