.footer {
	background: #222222;
	min-height: 250px;

	.bike {
		background: url("../images/footer-bike.png") no-repeat center 45px;
		min-height: 250px;
		display: block;
	}
}

.dirt {
	min-height: 160px;
	background: url('../images/footer-dirt.png') repeat-x;
	padding-top: 0.7rem;

	p {
		color: #ffffff;
		font-size: 0.8rem;
	}
}

.top-banner {
    height: 115px;
    display: block;
    background: url("../images/banner.png");

    .logo{
    	 background: url("../images/Chaka Ranch Logo.png");
    	 min-height: 250px;
    	 display: block;
    }
}