@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$light-brown: #af8049;
$dark-gray: #222222;

body {
  margin: 0px;

  section {
    padding: 1em;
    @include outer-container;
  }

  footer {
    width: 100%;

    .information {
      background-color: $dark-gray;

      section {
        min-height: 215px;
        padding: 1.25em 0px 0px;        

        .bike {
          @include span-columns(4);          
          background-image: url("../images/footer-bike-smaller.png");
          background-repeat: no-repeat;
          background-position: left bottom;
          min-height: inherit;
          float: left;

          @include media($medium-screen-down) {
            background-position: center bottom;
            @include span-columns(4);
          }  
        }

        .contacts {
          @include span-columns(3);
          a {
            color: #fff;
          }

        }

        .opening {
          @include span-columns(5);
        }

        .contacts, .opening {          
          padding: 1em;
          color: #fff;
          font-size: 0.9em;
          float: right;

          tel {
            text-decoration: underline;
          }

          h6 {
            margin-bottom: 0.5em;
          }

          em, a {
            color: #b17f4c;
            font-weight: bold;
          }

          @include media($medium-screen-down) {
            @include span-columns(4);
            text-align: center;
          }
        }        
      } 
    }

    .copyright {
      background: url("../images/footer-dirt.png") repeat-x;
      min-height: 160px;
      width: 100%;

      section {        
        article { 
          @include span-columns(6); 
          
          p {
            color: #fff;
            font-size: 0.8em;  
          }
          

          @include media($medium-screen-down) {
            @include span-columns(4);
            text-align: center;
          }
        }
      }
    }
  }
}