@charset "UTF-8";
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #af8049;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #795932;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #af8049;
  text-decoration: none; }
  a:hover {
    color: #795932; }
  a:active, a:focus {
    color: #795932;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #af8049;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(157, 115, 65, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  margin: 0px; }
  body section {
    padding: 1em;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    body section:after {
      content: "";
      display: table;
      clear: both; }
  body video {
    margin: auto; }
    @media screen and (min-width: 53.75em) {
      body video {
        width: 50%; } }
  body .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
  body iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  body .carousel {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 1em; }
    body .carousel:after {
      content: "";
      display: table;
      clear: both; }
    body .carousel .item img {
      display: block;
      /*width: 68em;*/
      width: 100%;
      height: auto; }
    body .carousel .owl-buttons {
      display: none; }
  body .nav {
    width: 100%;
    background-color: #222222;
    /*min-height: 1em;*/ }
    body .nav li {
      background: transparent;
      display: inline;
      /*line-height: 60px;*/
      padding: 2em 2em;
      text-align: center;
      text-decoration: none;
      width: auto; }
      body .nav li a {
        color: #fff; }
    body .nav li.active {
      background-color: #af8049; }
  body section.main {
    padding: 1em 1em 2.5em; }
    body section.main aside {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      body section.main aside:last-child {
        margin-right: 0; }
      body section.main aside h2 {
        color: #af8049; }
        body section.main aside h2 span.light {
          font-weight: normal; }
      @media screen and (max-width: 40em) {
        body section.main aside {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%; }
          body section.main aside:last-child {
            margin-right: 0; } }
  body footer {
    width: 100%; }
    body footer .information {
      background-color: #222222; }
      body footer .information section {
        min-height: 215px;
        padding: 1.25em 0px 0px; }
        body footer .information section .bike {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          background-image: url("../images/footer-bike-smaller.png");
          background-repeat: no-repeat;
          background-position: left bottom;
          min-height: inherit;
          float: left; }
          body footer .information section .bike:last-child {
            margin-right: 0; }
          @media screen and (max-width: 40em) {
            body footer .information section .bike {
              background-position: center bottom;
              float: left;
              display: block;
              margin-right: 7.42297%;
              width: 100%; }
              body footer .information section .bike:last-child {
                margin-right: 0; } }
        body footer .information section .contacts {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%; }
          body footer .information section .contacts:last-child {
            margin-right: 0; }
          body footer .information section .contacts a {
            color: #fff; }
        body footer .information section .opening {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%; }
          body footer .information section .opening:last-child {
            margin-right: 0; }
        body footer .information section .contacts, body footer .information section .opening {
          padding: 1em;
          color: #fff;
          font-size: 0.9em;
          float: right; }
          body footer .information section .contacts tel, body footer .information section .opening tel {
            text-decoration: underline; }
          body footer .information section .contacts h6, body footer .information section .opening h6 {
            margin-bottom: 0.5em; }
          body footer .information section .contacts em, body footer .information section .contacts a, body footer .information section .opening em, body footer .information section .opening a {
            color: #b17f4c;
            font-weight: bold; }
          @media screen and (max-width: 40em) {
            body footer .information section .contacts, body footer .information section .opening {
              float: left;
              display: block;
              margin-right: 7.42297%;
              width: 100%;
              text-align: center; }
              body footer .information section .contacts:last-child, body footer .information section .opening:last-child {
                margin-right: 0; } }
    body footer .copyright {
      background: url("../images/footer-dirt.png") repeat-x;
      min-height: 160px;
      width: 100%; }
      body footer .copyright section article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        body footer .copyright section article:last-child {
          margin-right: 0; }
        body footer .copyright section article p {
          color: #fff;
          font-size: 0.8em; }
        @media screen and (max-width: 40em) {
          body footer .copyright section article {
            float: left;
            display: block;
            margin-right: 7.42297%;
            width: 100%;
            text-align: center; }
            body footer .copyright section article:last-child {
              margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
